<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">
    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
    </section>
  </section>
  <section>
    <% if @card %>
      <%= form_for @card, url: {action: "review", :controller => "cards"} do |f| %>
          <ul>
            <%= @card.original_text %>
          </ul>
        <% end %>   
      <% end %> 
  </section>
</body>
