<head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>
  <section id="container">
    <section>
      <p style="font-size: 22px;">
        Первый в мире удобный менеджер флеш-карточек. Именно так.
      </p>
    </section>
  </section>
  <section>
    <% if @cards %>
        <% @cards.each do |card| %>
        <ul>
          <li><%= card.original_text %></li>
          <li><%= card.translated_text %></li>
      </ul>
      <% end %>
      <% end %>   
  </section>
</body>
