<section id="container">
  <div class="form-horizontal">
    <fieldset>
      <legend>новая карточка</legend>
      <div class="form-group">
        <%= render 'form', card: @card %>
      </div>
  </fieldset>
  </div>
</section>
