<section id="container">
  <form class="form-horizontal">
    <fieldset>
      <legend>Login</legend>
      <div class="form-group">
        <%= render 'form' %>
      </div>
  </fieldset>
  </form>
</section>